{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% block content %}
  {{ object }}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>E-waste Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="{% static 'detail_ewaste.css' %}">
	 <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  </head>

  <body>
	
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><i class='fas fa-biohazard' style='font-size:36px'></i>Tech Frontliner</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
               
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Logout</a>
                    </li>
                </ul>
                
            </div>
        </div>
	</nav>
	<br />
	<br />
   {% for i in object_list %}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id=""><img src="{{i.Image.url}}" /></div>
						</div>

					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{ i.Name }} {{i.Surname}}</h3>
						<h4 class="price">E-waste Price: <span> {{i.Price}} Rupee</span></h4>
						<p class="vote"><strong>Email: </strong>{{i.Email}}</p>
						<p class="vote"><strong>Address: </strong>{{i.Address}}</p>
						<p class="vote"><strong>Mobile Number: </strong>{{i.Mob_number}}</p>
						<p class="product-description"><strong>{{i.description}}</strong></p>
						<div class="action">
							<a href="/pay_ewaste_bill">
									<button class="add-to-cart btn btn-default" type="button">Buy Me</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
{% endfor %}
</html>
{% endblock %}
