{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" type="text/css" href="{% static 'mainpageStyle.css' %}" />
   <link rel="stylesheet" type="text/css" href="{% static 'ewaste.css' %}" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
<!--    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>-->

<title>Recycle It</title>
</head>
<body>
   <!--header-->
 <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/mainpageafterlogin"><i class="ion-ios-analytics-outline"></i>Tech Frontliner</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="A free Bootstrap video landing theme" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
 </nav>
  <!--header-->

  <!--Add e-waste-->

  <!--Add e-waste-->
  <!--blaocks of wards-->
  <div class="all-wards">
      <div class="row-ward">
         <div class="ward">
            <div class="ward-name">
               <b>WARD - 1</b>
               <p>View location in map</p>
            </div>
            <a href="#google-map" >
               <img 
                  src="{%static 'img/map1.png' %}" 
                  alt="map"
                  style="width: 45%;height:58%;float:right;"
               >
            </a>
            <div  class="ward-buttons">{% csrf_token %}
               <a href="/detail_ewaste">
                   <input class="w-button" type="submit" value="View detailed Items">
               </a>
            </div>
         </div>
         <div class="ward">
            <div class="ward-name">
               <b>WARD - 2</b>
               <p>View location in map</p>
            </div>
            <a href="#google-map" >
               <img 
                  src="{%static 'img/map3.png' %}" 
                  alt="map"
                  style="width: 45%;height:58%;float:right;"
               >
            </a>
            <div  class="ward-buttons">{% csrf_token %}
               <a href="/detail_ewaste2">
                   <input class="w-button" type="submit" value="View detailed Items">
               </a>
            </div>
         </div>
      </div>
      <div class="row-ward">
         <div class="ward">
            <div class="ward-name">
               <b>WARD - 3</b>
               <p>View location in map</p>
            </div>
            <a href="#google-map" >
               <img 
                  src="{%static 'img/map4.png' %}" 
                  alt="map"
                  style="width: 45%;height:58%;float:right;"
               >
            </a>
            <div  class="ward-buttons">{% csrf_token %}
               <a href="/detail_ewaste3">
                   <input class="w-button" type="submit" value="View detailed Items">
               </a>
            </div>
         </div>
         <div class="ward">
            <div class="ward-name">
               <b>WARD - 4</b>
               <p>View location in map</p>
            </div>
            <a href="#google-map" >
               <img 
                  src="{%static 'img/map5.png' %}" 
                  alt="map"
                  style="width: 45%;height:58%;float:right;"
               >
            </a>
            <div  class="ward-buttons">{% csrf_token %}
               <a href="/detail_ewaste4">
                   <input class="w-button" type="submit" value="View detailed Items">
               </a>
            </div>
         </div>
      </div>
      <div class="row-ward">
         <div class="ward">
            <div class="ward-name">
               <b>WARD - 5</b>
               <p>View location in map</p>
            </div>
            <a href="#google-map" >
               <img 
                  src="{%static 'img/map6.png' %}" 
                  alt="map"
                  style="width: 45%;height:58%;float:right;"
               >
            </a>
            <div  class="ward-buttons">{% csrf_token %}
               <a href="/detail_ewaste5">
                   <input class="w-button" type="submit" value="View detailed Items">
               </a>
            </div>
         </div>
         <div class="ward">
            <div class="ward-name">
               <b>WARD - 6</b>
               <p>View location in map</p>
            </div>
            <a href="#google-map" >
               <img 
                  src="{%static 'img/map7.png' %}" 
                  alt="map"
                  style="width: 45%;height:58%;float:right;"
               >
            </a>
            <div  class="ward-buttons">{% csrf_token %}
               <a href="/detail_ewaste6">
                   <input class="w-button" type="submit" value="View detailed Items">
               </a>
            </div>
         </div>
      </div>
  </div>
  <!--blaocks of wards-->
 <!--footer-->
   <footer id="footer"/>
        <div class="container-fluid">
            <div class="row">
<!--                </div>--><center>
                <div class="col-xs-6 col-sm-3 column" style="margin-left:500px">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                    </ul>
                </div></center>

            </div>
            <br/>
        </div>
    </footer>
 <!--footer-->

</body>
</html>